{% extends "generic/regions.njk" %}
{% block main %}
<main class="c-main">

  <div class="c-section c-section--deep-sea">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">Putting a pricetag on nature</h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <ul class="c-listicle">
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-water.gif" alt="">
            <div class="s-entry-content">
              <p>Oceans contribute <strong>AUD$3.19 trillion</strong> to the global economy, and two-thirds of that depends directly on oceans being healthy. <small>Source: <a href="http://naturalcapitalcoalition.org/projects/oceans-supplement/">Natural Capital Coalition</a></small></p>
            </div>
          </li>
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-bat.gif" alt="">
            <div class="s-entry-content">
              <p>Microbats are voracious insect eaters, and their efforts are worth an estimated <strong>AUD$1.28 billion</strong> a year globally for corn crops alone. <small>Source: <a href="http://www.pnas.org/content/112/40/12438.full">Maine and Boyles, 2015</a></small></p>
            </div>
          </li>
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-clam.gif" alt="">
            <div class="s-entry-content">
              <p>The economic and social value of the Great Barrier Reef to Australian industries has been estimated to be <strong>$56 million.</strong> <small>Source: This <a href="https://www2.deloitte.com/content/dam/Deloitte/au/Documents/Economics/deloitte-au-economics-great-barrier-reef-230617.pdf">report</a></small></p>
            </div>
          </li>
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-bee.gif" alt="">
            <div class="s-entry-content">
              <p>More than 75% of the leading types of global food crops rely to some extent on animal pollination for yield and/or quality. <small>Source: <a href="https://www.ipbes.net/deliverables/3a-pollination">Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem Services</a></small></p>
            </div>
          </li>
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-fish.gif" alt="">
            <div class="s-entry-content">
              <p>Improved management of wild fisheries could generate an additional <strong>AUD$105.92 billion</strong> a year. <small>Source: <a href="https://www.worldbank.org/en/news/feature/2017/02/14/global-fisheries-sunken-billions">World Bank</a></small></p>
            </div>
          </li>
          <li class="c-listicle__item">
            <img class="c-listicle__image" src="images/icon-parrot.gif" alt="">
            <div class="s-entry-content">
              <p>As well as eating some ripening almonds, regent parrots eat mummified nuts that would otherwise have to be harvested to prevent disease. Overall, the birds’ presence results in a net gain of <strong>$25-$275</strong> per hectare. <small>Source: <a href="https://www.csu.edu.au/research/ilws/research/summaries/ps/managing_agricultural_landscapes">Spooner et al, 2013</a></small></p>
            </div>
          </li>
        </ul>
        <!-- /c-listicle -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title c-title--aqua-forest u-vertical-space">
        <span class="c-title__prefix">Case study 1:</span>
        Where the grass really is greener
      </h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>Back in 1982, Martin Royd was just starting out in farming when drought wreaked havoc on his property.</p>
              <blockquote>“I saw 10,000 years of soil blow away in a few weeks,” he says. “Then, when the rains did come, what was left was washed into the dams.”</blockquote>
              <p>This environmental devastation further motivated the already sustainably inclined Martin to experiment with alternative farming methods, and in the early ‘90s, along came a second catalyst for change: <q>“The economics of farming had crossed a line. We realised we were going slowly broke.”</q></p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="c-card c-card--deep-sea c-card--layer-1 c-card--shadow">
              <div class="c-card__content">

                <div class="s-entry-content">
                  <p>Ecosystem services forfeited due to land degradation is estimated at AUD$8.04 trillion to AUD$13.53 trillion a year, or the equivalent of <strong>10-17%</strong> of global GDP. <small>Source: <a href="http://www.eld-initiative.org/index.php?id=111">The Value of Land report, The Economics of Land Degradation</a></small></p>
                </div>
                <!-- /s-entry-content -->

              </div>
            </div>
            <!-- /c-card -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->


      <div class="u-vertical-space u-vertical-space--large">

        <h3 class="c-title c-title--small u-vertical-space u-vertical-space--small">Time for a change</h3>
        <!-- /c-title -->


        <div class="s-entry-content s-entry-content--center u-vertical-space u-vertical-space--small">
          <p>Martin made the decision to implement a holistic approach to farming, which involved making a number of changes:</p>
        </div>
        <!-- /s-entry-content -->


        <div class="c-comparison u-vertical-space">
          <div class="c-comparison__column c-comparison__column--deep-sea">
            <h4 class="c-comparison__title">Goodbye</h4>
            <ul class="c-comparison-list">
              <li class="c-comparison-list__item">Chemical fertilisers</li>
              <li class="c-comparison-list__item">Pesticides</li>
              <li class="c-comparison-list__item">Fungicides</li>
              <li class="c-comparison-list__item">Ploughing grass</li>
            </ul>
          </div>
          <div class="c-comparison__column c-comparison__column--aqua-forest">
            <h4 class="c-comparison__title">Hello</h4>
            <ul class="c-comparison-list">
              <li class="c-comparison-list__item">Focus on soil health</li>
              <li class="c-comparison-list__item">Strategic cattle rotation</li>
              <li class="c-comparison-list__item">Channels to encourage rainfall dispersion</li>
              <li class="c-comparison-list__item">Using cows to sow grass sustainably</li>
            </ul>
          </div>
        </div>
        <!-- /c-comparison -->

      </div>
      <!-- /u-vertical-space -->


      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <blockquote>“Farming regeneratively and farming profitably go hand in hand,” Martin says. “In the long run, you can’t have one without the other.”</blockquote>
              <p>Over time, Martin saw his farm’s productivity improve by every imaginable benchmark – from the nutrient density of the beef, to the biodiversity of birdlife in the waterways, to the profit per hectare. Martin not only gets the satisfaction that he’s going to leave his land in a better condition than he found it, but that it pays financially to do things this way.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="s-entry-content">
              <blockquote>
                “By investing in improving his natural capital – his soils, water, biodiversity, and ultimately his production, Martin’s system is less risky – he’s able to provide more consistent quality produce to his market which translates to lower financial risk,”
                <footer>Paul Barnes, NAB Regional Agribusiness Manager, says.</footer>
              </blockquote>
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->


      <hr class="c-rule u-vertical-space u-vertical-space--large">
      <!-- /c-rule -->


      <h2 class="c-title c-title--aqua-forest u-vertical-space">
        <span class="c-title__prefix">Case study 2:</span>
        Rooting for trees
      </h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>Want to increase the value of your property? Get the local council to plant some trees down your street.</p>
              <p>Street trees don’t just look nice: they make cities more liveable by moderating temperatures, regulating agricultural systems, reducing home cooling and heating costs, improving air quality, reducing stormwater run-off, and improving residents’ mental and physical health.</p>
              <p>According to a <a href="http://www.aecom.com/content/wp-content/uploads/2017/04/Green-Infrastructure-vital-step-brilliant-Australian-cities.pdf">study</a> of three Sydney suburbs by engineering firm AECOM:</p>
              <blockquote>
                “Street trees play a major role in promoting walking… this is going to be a huge issue for Australian cities in a warming climate – we need to get people out and about to deal with the health epidemic of obesity and diseases like diabetes.”
                <footer>- James Rosenwax, co-author of <a href="http://www.aecom.com/content/wp-content/uploads/2017/04/Green-Infrastructure-vital-step-brilliant-Australian-cities.pdf">AECOM report</a></footer>
              </blockquote>
              <p>Plus, of course, there are the big-picture benefits, such as carbon storage and increased habitat and biodiversity.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="c-card c-card--border">
              <div class="c-card__content">

                <div class="s-entry-content">
                  <p>Increasing a street’s tree canopy by 10% causes property values on that street to go up by an average of $50,000. <small>Source: <a href="http://www.aecom.com/content/wp-content/uploads/2017/04/Green-Infrastructure-vital-step-brilliant-Australian-cities.pdf">AECOM report</a></small></p>
                  <img src="images/home.gif" alt="">
                  <p>Trees in urban areas save megacities an average of more than <strong>AUD$638.09 million</strong> a year in public health costs, energy expenses, and environmental protection. <small>Source: <a href="https://www.sciencedirect.com/science/article/pii/S0304380017300960">Endreny et al, 2017</a></small></p>
                </div>
                <!-- /s-entry-content -->

              </div>
            </div>
            <!-- /c-card -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--deep-sea">

    <div class="o-container">

      <h2 class="c-title c-title--squiggle u-vertical-space">Why is natural capital important for business?</h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>The future of business and nature are intertwined as awareness of the importance of natural capital rises.</p>
              <p>Every business depends on natural capital, and as natural capital comes under threat, so does business. The World Economic Forum consistently lists environmental concerns among the major threats to the world economy in its <a href="https://www.weforum.org/agenda/2017/01/these-are-the-most-likely-global-risks-2017/">Global Risks Report</a>.</p>
              <p>With awareness of the importance of natural capital rising, the days of regarding nature as economically intangible, or a liability, may be drawing to a close.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>While Martin Royd benefited on a personal level by addressing the long term farming sustainability of his property,  his healthier farming assets also rendered his farm’s natural assets more attractive for business investment.</p>
              <p>And Martin is not alone in his focus on the quality of his natural assets. In 2017, NAB, completed its third sustainability survey of farmers across Australia. 91% rated soil health a significant business risk. Energy costs, biodiversity, runoff, and water scarcity were also all rated as key business risks. Three quarters had made a recent change to their business to address a sustainability risk.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--white">

    <div class="o-container">

      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>Trees not only make the world a prettier place to be, they’re also big business.</p>
              <img src="images/office.gif" alt="">
              <p>With natural systems such as street trees, waterways, parks and gardens playing such a vital role in supporting the health and prosperity of residents and the economic value of property, it’s inevitable that opportunities for business will arise.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>David Jenkins, Director of Capital Financing Solutions at NAB, says: "We call it 'natural capital', which is effectively the 'services' that natural systems provide by way of clean air and water, and healthy soil. At the end of the day our economy depends on that.</p>
              <p>Increasingly, investors are interested in implementing business practices that will alleviate the effects of climate change and other environmental risks.  It’s imperative that trees are recognised as vital infrastructure to cities – just like roads and utilities, because councils and governments can leverage the many benefits of natural systems to influence business decisions and investment.”</p>
              <img src="images/playground.gif" alt="">
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title c-title--deep-sea c-title--squiggle u-vertical-space">A global mandate</h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="c-grid">
          <div class="c-grid__column">

            <div class="s-entry-content">
              <p>The <a href="http://businesscommission.org/">Business and Sustainable Development Commission</a> aims to align businesses with the UN’s <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/">Sustainable Development Goals</a>, many of which depend on the preservation on natural capital.</p>
              <p>Under the <a href="http://www.naturalcapitaldeclaration.org/the-declaration/">National Capital Declaration</a>, financial institutions from around the world, including NAB, have agreed to investigate how important natural capital is to business, and to integrate natural capital considerations into loans and other financial products. As a signatory, NAB has embarked on a long term journey to make natural capital a key consideration in its credit decisions.</p>
              <p>Because with threats to the environment on so many fronts, there’s going to be no such thing as business as usual.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-grid__column">

            <div class="c-card c-card--border c-card--layer-2 c-card--shadow">
              <div class="c-card__content">

                <div class="s-entry-content s-entry-content--center">
                  <img src="images/target.gif" alt="">
                  <p>Achieving just four of the Sustainable Development Goals could unlock AUD$15.31 trillion a year in business opportunities. <small>Source: <a href="http://report.businesscommission.org/report">Business and Sustainable Development Commission</a></small></p>
                </div>
                <!-- /s-entry-content -->

              </div>
            </div>
            <!-- /c-card -->

          </div>
        </div>
        <!-- /c-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->

</main>
<!-- /c-main -->
{% endblock %}
