<footer class="c-footer">

  <div class="o-container o-container--narrow">

    <div class="s-entry-content s-entry-content--center s-entry-content--large u-vertical-space">
      <p>For more information on how big business is taking a leadership position in Natural Capital (also known as Natural Value), visit NAB Natural Value.</p>
    </div>
    <!-- /s-entry-content -->


    <div class="u-vertical-space u-vertical-space--center">
      <a class="c-button" href="https://www.nab.com.au/about-us/corporate-responsibility/environment/natural-value">Learn more</a>
    </div>
    <!-- /u-vertical-space -->

  </div>
  <!-- /o-container -->

</footer>
<!-- /c-footer -->
