<header class="c-header">

  <div class="o-container">

    <h1 class="c-title c-title--deep-sea u-vertical-space">The world’s living organisms, ecosystems, and the services they provide for humanity – from pollination (thank you, bees), to renewable energy (thank you, sun) – can be called natural capital.</h1>
    <!-- /c-title -->


    <div class="s-entry-content s-entry-content--center u-vertical-space">
      <p>OK, so referring to daffodils and mountain tops as capital may not be the most romantic way to appreciate nature, but it might just be necessary.</p>
      <p>Because from a business point of view, seeing nature as an asset, can be transformative. Natural resources are a fundamental input for the production of all businesses, and the sustainable use of natural resources has become critical for the future success of most businesses. The impacts of degrading our natural capital pose significant challenges for our economic prosperity.</p>
      <p><strong>When businesses realise just how much the environment is worth, amazing things start to happen.</strong></p>
    </div>
    <!-- /s-entry-content -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
